<div class="row">
  <div class="col-xs-12"><h10 class="no-top">Vanessa Lianne Jewelry is featured in Vogue, Lucky Magazine, Women’s Wear Daily, New York Magazine, & more</h10>
  </div>
</div>

<div class="row press-logos pull-center">
    <a href="/pages/press/#women">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/vogue.png?16579">
    </a>
    <a href="/pages/press/#women">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lucky.png?16579">
    </a>
    <a href="/pages/press/#women">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd.png?16579">
    </a>
    <a href="/pages/press/#women">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/nymag.png?16667">
    </a>
</div>

<hr class="divider">

<div class="row">
  <div class="col-xs-12 press pull-center">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/press-vogue.jpg?16277" alt="Katy Perry Vogue" class="press-image"/>
      <h1>Vogue</h1>
      <h3>Editorial featuring Katy Perry photographed by Annie Leibovitz, June 2013</h3>
      <p>Purchase Snake Ring &raquo;</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?16260" alt="Women's Wear Daily" class="press-image"/>
      <h1>Women's Wear Daily</h1>
      <h3>October 2012</h3>
      <p>Purchase Cia Studs &raquo;</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/press-globemail.jpg?16291" alt="The Globe &amp; Mail" class="press-image"/>
      <h1>The Globe & Mail</h1>
      <h3>June 2013</h3>
      <p>Purchase Camilla Stacking Rings &raquo;<br/>
      Purchase Lace Rings &raquo;</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/press-lucky.jpg?16307" alt="The Globe &amp; Mail" class="press-image"/>
      <h1>Lucky Magazine</h1>
      <h3>March 2013</h3>
      <p>Purchase Tavion Necklace &raquo;</p>
    </a>
    
    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/press-whistle.jpg?16353" alt="The Globe &amp; Mail" class="press-image"/>
      <h1>News Whistle</h1>
      <h3>Fall Fashion Transitions, September 2013</h3>
      <p>Purchase Tavion Necklace &raquo;</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/press-kenton.jpg?16347" alt="Kenton Magazine" class="press-image"/>
      <h1>Kenton Magazine</h1>
      <h3>Top 10 Women’s Music Festival Style Staples, April 2012</h3>
      <p>Purchase Tavion Necklace &raquo;</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/unrulythings.jpg?16787" class="press-image" alt="Unruly Things"/>
      <h1>Unruly Things</h1>
      <h3>December 2010</h3>
      <p>Shop Camille Stacking Rings &raquo;<br/>
      Shop Camille Studs &raquo;</p>
    </a>


  </div>
</div>

