<div class="row">
  <div class="col-sm-12">
    <h10 class="no-top faq-header">Editing Your Site</h10>
  </div>
  <div class="col-sm-12 faq-questions">
    <br/>
    <h3>
      <li><a href="#editpagecontent">Editing Page Content</a></li>

      <li><a href="#slideshow">Editing Slideshow</a></li>

      <li><a href="#navigation">Editing Navigation/Footer Links</a></li>

      <li><a href="#newproduct">Adding Products</a></li>

      <li><a href="#reset">Resetting Pages</a></li>
    </h3>
    <hr class="divider faq">
  </div>
</div>

<div class="row edit-info-page">
  <div class="col-sm-12 faq-care">
    <a id="editpagecontent">
    <h4>Editing Page Content</h4>
      </a>
    <p>You can make changes to the following areas:</p>
    <ul>
      <li>Custom & Commitment Page – You can edit blurb text and testimonial text (cannot edit images or materials)</li>
      <li>FAQ/Care Page – You can edit the existing questions and answers (cannot add new questions because this involves creating links)</li>
      <li>About Page – You can edit the biography text (cannot edit images or video)</li>
      <li>Slideshow Banner on Home Page – You can upload and add or replace banner images from your Shopify admin</li>
    </ul>
    <p>The content on the following pages is hard-coded. Contact developer to make changes:</p>
    <ul>
      <li>Press Page</li>
      <li>Stockists Page</li>
      <li>Friends Page</li>
      <li>Contact Page</li>
      <li>Home Page</li>
      <li>Lookbook Page</li>
    </ul> 

    <h3>Editing Page Content with Splits</h3>
    <p>You can edit page content from your Shopify admin by clicking Pages. Click "Show HTML" in the top right corner to view the template structure. Content is inserted into each page by sections, which are divided in the code by <strong><--! split !--></strong> It is important to keep these splits in mind when editing content. Follow these instructions:</p>
    <img src="{{ 'edit-contentpages.jpg' | asset_url }}" class="border">

  <hr class="divider faq">

    <a id="slideshow">
    <h4>Editing Home Page Slideshow</h4>
      </a>
    <p>You can easily replace or add new images to the slideshow banner on the home page. From your Shopify admin, go to Theme > Theme Settings & go down to Home Page. You can upload up to 10 slides. Follow these instructions:</p>
    <img src="{{ 'edit-slideshow.jpg' | asset_url }}" class="border">

  <hr class="divider faq">

    <a id="navigation">
    <h4>Editing Navigation</h4>
      </a>
    <p>You can easily make changes to the site navigation, as well as the footer links. For example, if you have added a new product collection, you'll want to add a link to the Jewelry drop-down menu. From your Shopify admin, go to Navigation. Click Edit Link List for any list you would like to edit. You will see this page:</p>
    <img src="{{ 'edit-linklist.jpg' | asset_url }}" class="border">

  <hr class="divider faq">

    <a id="newproduct">
    <h4>Adding Products</h4>
      </a>
      <p>Below are recommendations for adding products to keep the site looking professional and consistent between product pages. Follow these instructions:
      </p>
      <img src="{{ 'edit-products.jpg' | asset_url }}" class="border">
  <hr class="divider faq">
   
    <a id="reset">
    <h4>Resetting Pages</h4>
      </a>
      <p>If you encounter formatting issues editing any of the below pages, select all (Ctrl+A) & copy and paste the reset code into the Show HTML text editor for the page. This will reset the code to its correct formatting.</p>  

    <a id="reset">
    <h3>FAQ Page Reset</h3>
      </a>

      <textarea>

        <a id="returns">
<h3>Returns</h3>
</a>
<p>Please note all jewelry is handmade in New York, NY, and individual pieces can vary slightly from one to the next. Each piece is handmade to order, please allow 2 to 4 weeks for delivery. Rings and special orders cannot be exchanged.</p>
<p>We accept returns or exchanges for up to 10 working days after items are received/delivered. To return or exchange an item, please send an email to <a href="mailto:info@vanessalianne.com" target="_top">info@vanessalianne.com</a> for an authorization (RA) number. Items cannot be accepted for return without an RA number. The customer is responsible for all shipping costs. In the case of a return, you will be credited in full, minus the cost of initial shipping.</p>
<p><strong>Please Note: Sale, special and personalized orders cannot be returned and are final sale.</strong></p>
<!-- split --> <a id="repair">
<h3>Repair Policy</h3>
</a>
<p>We take pride in our craftsmanship and stand behind all of our jewelry. We will provide free repair on any faulty items damaged within 30 days of purchase. Damaged goods due to buyers’ negligence will not be accepted for refund and will be charged for repair depending on the damage to the piece. Items purchased through retailers must be returned to the original retailer to process the repair.</p>
<p>Items that need repair after 30 days may be returned by mail, FedEx or UPS with a $25 check for shipping and handling. Cost of repair will depend on the damage. Please contact the studio at <a href="mailto:info@vanessalianne.com" target="_top">info@vanessalianne.com</a> to receive a Return Authorization Number. Items must be unused and in original condition.</p>
<!-- split --> <a id="materials">
<h3>Materials</h3>
</a>
<p><strong>OX:</strong> Our oxidized finish is a special treatment of our sterling silver that gives it a blackened surface. This surface finish wears off over time with the friction against the skin, revealing the silver underneath to create a silvery-black patina.</p>
<p><strong>Brass:</strong> We use brass that comes from refinery that is certified as green.</p>
<p><strong>Kohl:</strong> Our Kohl finish is a nickel-free ruthenium black plating. It is more permanent than oxidation and has a matte gunmetal look. This is used in our rings and pieces that are intended to stay black over time.</p>
<p><strong>Vermeil:</strong> We use a heavy 14kt gold plating that is 3 times as thick as common gold plating.</p>
<p><strong>Gold:</strong> 14kt/18kt Yellow, Rose, Green or White gold. All of our gold is made using 100% recycled.</p>
<p><strong>Please Note:</strong> Vanessa Lianne Jewelry is all hand made using recycled metals and conflict free stones.</p>
<!-- split --> <a id="care">
<h3>How to Care for your VL Jewelry</h3>
</a>
<p>Vanessa Lianne jewelry is all handmade and will change over time. Oxidized silver gradually fades with wear but can be re-oxidized. If you would like your item re-oxidized you may do this free of charge. Email <a href="mailto:info@vanessalianne.com" target="_top">info@vanessalianne.com</a> for more details.<br /><br /> While many people appreciate the unique patina of matte finished jewelry, it eventually shines with wear but can be re-matted using the light touch of a green 3M pad. Over time, silver and brass will oxidize. To clean your VL jewelry without removing the satin finish, use a paste of baking soda and water and rub it over the item in a circular motion with an old toothbrush. You can use brass cleaner on your brass jewelry; follow the instructions on te bottle. To avoid oxidation keep jewelry in a sealed container.</p>


      </textarea>

    <h3>About Page Reset</h3>

      <textarea>
<p>Vanessa Lianne has had a life-long passion for jewelry. From a very early age, she would always be found playing in her grandmother’s jewelry box, fascinated by the personality of each piece. Starting with femo beads at the age of six, Vanessa began creating jewelry as a form of expression and relaxation.</p>
<p>Her love of art led her to pursue a degree in Art History and Philosophy from Queens University; however, it was not until after she graduated and began taking classes with local jewelry artisans in Vancouver that she realized this was her true calling. Learning the craft of metalsmithing and being able to translate her designs into wearable pieces made it all come together for her. “I always knew I loved making jewelry. As soon as I soldered my first piece I knew this was the <span>only</span> thing I wanted to do.” After graduating and working in the industry as a fine goldsmith, Vanessa was able to grow her business and develop it into the organic, intricate and edgy line that it is today. Using her father’s dental lab as her first studio, Vanessa created the Vanessa Lianne Jewelry Company in 2006. Vanessa was having the time of her life, handcrafting each piece by herself, and taking her jewelry to local boutiques. By the end of the year her line was selling in over 10 stores all over B.C.</p>
<!-- split -->
<p>Though her business was taking off, Vanessa knew she wanted to study jewelry formally, and moved to NYC in 2008 to attend the Jewelry Design and Studio program at The Fashion Institute of Technology. Inspired by fashion, textures, nature, and the Japanese aesthetic philosophy Wabi Sabi, Vanessa Lianne creates pieces that hearten their wearers to express themselves and feel strong, fashionable and original. The Vanessa Lianne jewelry line transcends norms and is non-traditional, yet timeless. Playing with contrasts and the different properties of metal, Vanessa’s pieces juxtapose hard lines with soft femininity, rough textures with sparkly diamonds, and refinement with imperfection, resulting in a celebration of the unexpected beauty in the world. Vanessa loves creating each piece of jewelry and believes that the right piece can inspire the wearer to feel confident, beautiful and original.</p>
<p>Each piece of Vanessa Lianne jewelry is hand forged, hammered and soldered in her Brooklyn studio. Vanessa is dedicated to using the highest quality workmanship materials and design, and uses recycled and ethically sourced materials whenever possible.</p>

      </textarea>

    <h3>Custom & Commitment Page Reset</h3>

      <textarea>
<p>Vanessa loves working with clients to design exquisite custom pieces for their bridal and special occasions. Handcrafted from the finest materials with a focus on sustainability, all pieces are made from 100% recycled metal and use the highest quality conflict-free stones. Fusing her unique design sensibilities with her keen attention to detail, Vanessa creates truly one-of-a-kind pieces that are original yet timeless.</p>
<p>Please <a href="http://gromn.myshopify.com/pages/contact-us">contact us</a> if you are interested in custom pieces for your special occasions.</p>
<!-- split -->
<p>"Working with Vanessa was a fantastic experience. She was recommended to us by good friends who had their engagement ring and wedding bands made by her. When we met her we immediately felt that she got us, and our vision for our wedding bands. The rings came out beautifully, I could barely wait until the wedding to wear mine! Throughout the process she was available and attentive to any questions and changes we had. I would absolutely recommend her to anyone, and would love to work with her again. She is a wonderful person and exceedingly talented artist."</p>
<h5>– Chris &amp; Maggie Wetherbee</h5>
<!-- split -->
<p>"When my fiance and I set out to buy wedding bands, we realized how difficult it was to find something that was completely and uniquely us. Vanessa listened to what were looking for, and offered numerous ideas on how to incorporate meaningful elements that reflected each of our personalities and preferences. The result? Something so incredibly beautiful and also, personal to us. Wherever we go, everyone raves about how incredible our rings are. We couldn't be happier.</p>
<h5>– Alexandra Ostrow &amp; Ron Beach</h5>

      </textarea>
  </div>
</div>
