<div class="row">
  <div class="col-xs-12"><h10 class="no-top">Vanessa Lianne Jewelry Lookbook</h10>
  </div>
</div>

<!-- Begin slider -->
<div class="col-xs-12">
  <div class="flexslider-container lookbook-flexslider">
    <div class="flexslider">
      <ul class="slides pull-center">
        {% for i in (1..10) %}
          {% capture show_slide %}display_slide_{{ i }}{% endcapture %}
          {% capture image %}slideshow_{{ i }}.jpg{% endcapture %}
          {% capture link %}slide_{{ i }}_link{% endcapture %}
          {% capture alt %}slide_{{ i }}_alt{% endcapture %}
          {% if settings[show_slide] %}
          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-1.jpg?17506" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>   

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-2.jpg?17552" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>  

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-3.jpg?17512" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-4.jpg?17516" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-5.jpg?17516" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-6.jpg?17516" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          
          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-7.jpg?17518" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-8.jpg?17520" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          
          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-9.jpg?17522" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-10.jpg?17526" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-11.jpg?17528" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-12.jpg?17530" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>  
                  
          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-13.jpg?17532" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-14.jpg?17532" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-15.jpg?17534" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-16.jpg?17536" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          
          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-17.jpg?17538" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-18.jpg?17540" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-19.jpg?17540" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>
          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-20.jpg?17542" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-21.jpg?17544" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li>

          <li>
            <a href="/#" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-22.jpg?17546" />
              <p>Shop this collection &raquo;</p>
            </a>
          </li> 

          <li>
            <a href="/pages/about-us" target="blank">
              <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-23.jpg?17548" />
              <p>Vanessa's Story &raquo;</p>
            </a>
          </li>

          <li>
            <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/lookbook-24.jpg?17550" />
            <p>
          </li>

          {% endif %}
        {% endfor %}
      </ul>
      <div class="flex-controls"></div>
    </div>
  </div>
</div>

<!-- End slider -->

<hr class="divider">
<div class="row download-lookbook pull-center">
  <a href="/pages/custom">
    <input type="submit" id="add-to-cart" class="btn" name="add" value="Download + View as PDF">
  </a>
</div>