<div class="row">
  <div class="col-sm-12">
    <h10 class="no-top">
      Contact Us
    </h10>
  </div>
</div>

<div id="page" class="row">

  <div class="col-sm-5">
    <div class="page-with-contact-form">
      <p>For wholesale inquires, or to contact Vanessa please e-mail:</p>
      <h1>info@vanessalianne.com</h1>
      <p>Please call us at:</p>
      <h1>347.835.3848</h1>           
        {% form 'contact' %}
        {% if form.posted_successfully? %}
        <div class="successForm feedback">
          <p>Thanks for contacting us! We'll get back to you as soon as possible.</p>
        </div>
        {% endif %}

        {% if form.errors %}
        <div class="errorForm feedback">
          <p>Oops, sorry. We were unable to submit your inquiry because it contained {{ form.errors | size | pluralize: 'an error', 'a few errors' }}. Please correct the following and submit again:</p>
          {% for field in form.errors %}
            <p>The {{ field | capitalize | replace: 'Body', 'Message' }} field {{ form.errors.messages[field] }}.</p>
          {% endfor %}
        </div>
        {% endif %}

        <div id="contactFormWrapper">
          <p>
            <label>Your Name:</label>
            <input type="text" id="contactFormName" name="contact[name]" placeholder="John Doe" />
          </p>
          <p>
            <label>Email:</label>
            <input type="email" id="contactFormEmail" name="contact[email]" placeholder="john@example.com" />
          </p>
          <p>
            <label>Phone Number:</label>
            <input type="telephone" id="contactFormTelephone" name="contact[phone]" placeholder="555-555-1234" />
          </p> 
          <p>
            <label>Message:</label>
            <textarea id="contactFormMessage" name="contact[body]" placeholder="Your Message"></textarea>
          </p>
          <p>
            <input type="submit" id="contactFormSubmit" value="Send" class="btn pull-right" />
          </p>
        </div>
        {% endform %}
      
    </div>
  </div>

  <div class="col-sm-7 contact-img"><img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/contact-small.jpg?14852" /></div>

</div>


