<div class="row">
  <div class="col-xs-12">
    <h10 class="no-top">
      All pieces are made from 100% recycled metal and use the highest quality conflict-free stones
    </h10>
  </div>
</div>
<div class="col-xs-12">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-main.jpg?17127" alt="custom" />
  </div>
</div>
<div class="row where_to_buy">
  <h7>The Vanessa Lianne Custom & Commitment Fine Jewelry Collection</h7>
</div>
{% assign content = page.content | split: '<!-- split -->' %}

<div class="row">
  <div class="col-sm-12 custom">
    {{ content[0] }}
  </div>
</div>

<div class="row custom-testimonials">
  <div class="col-xs-12">
    <h10>
      Testimonials
    </h10>
  </div>
</div>

<div class="row custom-testimonials">
  <div class="col-sm-6">
    {{ content[1] }}
  </div>
  <div class="col-sm-6">
    {{ content[2] }}
  </div>
</div>

<div class="row custom-testimonials">
  <div class="col-xs-12">
    <h10>
      Custom & Commitment Fine Jewelry
    </h10>
  </div>
</div>

<div class="row custom-testimonials">
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-1.jpg?16813" alt="custom" />
    <h4>18kt yellow gold with diamonds, 18kt  yellow gold men's band, oxidized silver men's with 18kt yellow gold</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-2.jpg?16814" alt="custom" />
    <h4>18kt yellow gold & oval diamond, platinum & cushion cut champagne diamond, 18kt yellow with white diamonds, platinum with champagne diamonds</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-3.jpg?16844" alt="custom" />
    <h4>Platinum & champagne diamonds</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-necklace.jpg?19761" alt="custom" />
    <h4>One of a kind Pebble necklace silver 18kt gold with white & champagne diamonds</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-4.jpg?19920" alt="custom" />
    <h4>18kt yellow gold & oval diamond, 18kt yellow with white diamonds</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-5.jpg?19920" alt="custom" />
    <h4>18kt yellow gold & oval diamond, 18kt yellow with white diamonds</h4>
  </div>
</div>

<div class="custom-testimonials">
  <h5 class="pull-center"><a href="/pages/contact-us">Please call for pricing &raquo;</a></h5>
</div>
