<div class="row">
  <div class="col-sm-12">
    <h10 class="no-top faq-header">Frequently Asked Questions &amp; Jewelry Care</h10>
  </div>
</div>

<div class="row">
  <div class="col-sm-12 faq-care">
    <h3>How to Care for Your VL Jewelry</h3>
    <p>
      <span>
        Pellentesque sed eros nec massa iaculis ultricies vitae eget justo. Integer ante eros, blandit sit amet mi at, suscipit mattis augue. Sed rutrum, velit eu suscipit sollicitudin, sem elit condimentum mi, eget aliquet risus tortor quis nisi. Sed nec tortor eu sem posuere aliquet vitae vel dui. Integer aliquet tempor tellus a scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sodales sollicitudin placerat. Cras accumsan consequat condimentum. Curabitur ut elit et risus convallis aliquet id vitae lectus. Cras porttitor diam nec sem mollis ultricies. Sed vehicula vitae urna sodales sagittis.
      </span>
    </p>
    <h3>What is your repair policy?</h3>
    <p>
      <span>
        Pellentesque sed eros nec massa iaculis ultricies vitae eget justo. Integer ante eros, blandit sit amet mi at, suscipit mattis augue. Sed rutrum, velit eu suscipit sollicitudin, sem elit condimentum mi, eget aliquet risus tortor quis nisi. Sed nec tortor eu sem posuere aliquet vitae vel dui. Integer aliquet tempor tellus a scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sodales sollicitudin placerat. Cras accumsan consequat condimentum. Curabitur ut elit et risus convallis aliquet id vitae lectus. Cras porttitor diam nec sem mollis ultricies. Sed vehicula vitae urna sodales sagittis.
      </span>
    </p>
    <h3>What is your return policy?</h3>
    <p>
      <span>
        Pellentesque sed eros nec massa iaculis ultricies vitae eget justo. Integer ante eros, blandit sit amet mi at, suscipit mattis augue. Sed rutrum, velit eu suscipit sollicitudin, sem elit condimentum mi, eget aliquet risus tortor quis nisi. Sed nec tortor eu sem posuere aliquet vitae vel dui. Integer aliquet tempor tellus a scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sodales sollicitudin placerat. Cras accumsan consequat condimentum. Curabitur ut elit et risus convallis aliquet id vitae lectus. Cras porttitor diam nec sem mollis ultricies. Sed vehicula vitae urna sodales sagittis.
      </span>
    </p>
    <h3>What is your repair policy?</h3>
    <p>
      <span>
        Pellentesque sed eros nec massa iaculis ultricies vitae eget justo. Integer ante eros, blandit sit amet mi at, suscipit mattis augue. Sed rutrum, velit eu suscipit sollicitudin, sem elit condimentum mi, eget aliquet risus tortor quis nisi. Sed nec tortor eu sem posuere aliquet vitae vel dui. Integer aliquet tempor tellus a scelerisque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sodales sollicitudin placerat. Cras accumsan consequat condimentum. Curabitur ut elit et risus convallis aliquet id vitae lectus. Cras porttitor diam nec sem mollis ultricies. Sed vehicula vitae urna sodales sagittis.
      </span>
    </p>
  </div>
</div>
