<div class="row">
  <div class="col-xs-12"><h10 class="no-top">Vanessa Lianne Jewelry is featured in: Vogue, WWD, Lucky, Globe &amp; Mail, NY Mag, &amp; Martha Stewart Living</h10>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 press pull-center">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" alt="Vogue" />
      <h1>Vogue</h1>
      <h3>Editorial featuring Katy Perry photographed by Annie Leibovitz, June 2013 Issue</h3>
      <p>Purchase Snake Ring →</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" alt="Women's Wear Daily" />
      <h1>Women's Wear Daily</h1>
      <h3>October 2012</h3>
      <p>Purchase Cia Studs →</p>
    </a>


  </div>
</div>

