{% assign content = page.content | split: '<!-- split -->' %}


<div class="row">
  <div class="col-sm-12">
    <h10 class="no-top faq-header">Frequently Asked Questions &amp; Jewelry Care</h10>
  </div>
  <div class="col-sm-12 faq-questions">
    <br/>
    <h3>
      <li><a href="#returns">What is your return policy?</a></li>
      <li><a href="#repair">What is your repair policy?</a></li>
      <li><a href="#materials">What materials are used in VL jewelry?</a></li>
      <li><a href="#care">How do I care for my VL jewelry?</a></li>
    </h3>
    <hr class="divider faq">
  </div>
</div>

<div class="row">
  <div class="col-sm-12 faq-care">

    {{ content[0] }}

  <hr class="divider faq">

    {{ content[1] }}

  <hr class="divider faq">
   
    {{ content[2] }}

  <hr class="divider faq">
   
    {{ content[3] }}
  </div>
</div>
