<div class="row">
  <div class="col-xs-12">
    <h10 class="no-top">
      The Vanessa Lianne Custom & Commitment Fine Jewelry Collection
    </h10>
  </div>
</div>

<!-- <div class="row where_to_buy">
  <h7>The Vanessa Lianne Custom & Commitment Fine Jewelry Collection</h7>
</div> -->

<div class="col-xs-12">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-work.jpg?16798" alt="custom" style="line-height: 1.5;" />
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <p>
     Vanessa loves working with clients to design exquisite custom pieces for their bridal and special occasions. 
      Handcrafted from the finest materials with a focus on sustainability, all pieces are made from 100% recycled metal and use the highest quality conflict-free stones. Fusing her unique design sensibilities with her keen attention to detail, Vanessa creates truly one-of-a-kind pieces that are original yet timeless
    </p>
  </div>
