<div class="row">
  <div class="col-xs-12">
    <h10 class="no-top">
      Each piece of Vanessa Lianne jewelry is hand forged, hammered &amp; soldered in her Brooklyn studio.
    </h10>
  </div>
</div>
<div class="col-xs-12">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/about-image.jpg?13974" alt="bio" style="line-height: 1.5;" />
  </div>
</div>
<div class="row where_to_buy">
  <h7>Vanessa's Story</h7>
</div>
<div class="row">
  <div class="col-sm-6">
    <p>
      Vanessa Lianne has had a life-long passion for jewelry. From a very early age, she would always be found playing in her grandmother’s jewelry box, fascinated by the personality of each piece. Starting with femo beads at the age of six, Vanessa began creating jewelry as a form of expression and relaxation.
    </p>
    <p>
      Her love of art led her to pursue a degree in Art History and Philosophy from Queens University; however, it was not until after she graduated and began taking classes with local jewelry artisans in Vancouver that she realized this was her true calling. Learning the craft of metalsmithing and being able to translate her designs into wearable pieces made it all come together for her. “I always knew I loved making jewelry. As soon as I soldered my first piece I knew this was the
      <span>only</span>
      thing I wanted to do.” After graduating and working in the industry as a fine goldsmith, Vanessa was able to grow her business and develop it into the organic, intricate and edgy line that it is today. Using her father’s dental lab as her first studio, Vanessa created the Vanessa Lianne Jewelry Company in 2006. Vanessa was having the time of her life, handcrafting each piece by herself, and taking her jewelry to local boutiques. By the end of the year her line was selling in over 10 stores all over B.C.
    </p>
  </div>
  <div class="col-sm-6">
    <p>
      Though her business was taking off, Vanessa knew she wanted to study jewelry formally, and moved to NYC in 2008 to attend the Jewelry Design and Studio program at The Fashion Institute of Technology. Inspired by fashion, textures, nature, and the Japanese aesthetic philosophy Wabi Sabi, Vanessa Lianne creates pieces that hearten their wearers to express themselves and feel strong, fashionable and original. The Vanessa Lianne jewelry line transcends norms and is non-traditional, yet timeless. Playing with contrasts and the different properties of metal, Vanessa’s pieces juxtapose hard lines with soft femininity, rough textures with sparkly diamonds, and refinement with imperfection, resulting in a celebration of the unexpected beauty in the world. Vanessa loves creating each piece of jewelry and believes that the right piece can inspire the wearer to feel confident, beautiful and original.
    </p>
    <p>
      Each piece of Vanessa Lianne jewelry is hand forged, hammered and soldered in her Brooklyn studio. Vanessa is dedicated to using the highest quality workmanship materials and design, and uses recycled and ethically sourced materials whenever possible.
    </p>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h10>Vanessa Lianne Jewelry: Inside the Studio</h10>
  </div>
</div>

<div class="row video-row">
  <div class="col-xs-12">
    <iframe width="100%" height="500px" style="display: block; margin-left: auto; margin-right: auto;" src="//www.youtube.com/embed/Y6Isi6oTySE" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
  </div>
</div>

<div class="row" id="press">
  <div class="col-xs-12"><h10>Vanessa Lianne Jewelry is featured in: Vogue, WWD, Lucky, Globe &amp; Mail, NY Mag, &amp; Martha Stewart Living</h10>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 press pull-center">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/Perry.jpg?2759" alt="Vogue" />
      <h1>Vogue</h1>
      <h3>Editorial featuring Katy Perry photographed by Annie Leibovitz, June 2013 Issue</h3>
      <p>Purchase Snake Ring →</p>
    </a>

    <hr class="divider">

    <a href="http://gromn.myshopify.com/products/white-tank-1" target="blank">
      <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/wwd-feature.jpg?11829" alt="Women's Wear Daily" />
      <h1>Women's Wear Daily</h1>
      <h3>October 2012</h3>
      <p>Purchase Cia Studs →</p>
    </a>


  </div>
</div>
