<div class="row">
  <div class="col-xs-12">
    <h10 class="no-top">
      All pieces are made from 100% recycled metal and use the highest quality conflict-free stones
    </h10>
  </div>
</div>
<div class="col-xs-12">
  <div>
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-main.jpg?17127" alt="custom" />
  </div>
</div>
<div class="row where_to_buy">
  <h7>The Vanessa Lianne Custom & Commitment Fine Jewelry Collection</h7>
</div>

<div class="row">
  <div class="col-sm-12 custom">
    <p>
     Vanessa loves working with clients to design exquisite custom pieces for their bridal and special occasions. 
     Handcrafted from the finest materials with a focus on sustainability, all pieces are made from 100% recycled metal and use the highest quality conflict-free stones. Fusing her unique design sensibilities with her keen attention to detail, Vanessa creates truly one-of-a-kind pieces that are original yet timeless.</p>
     <p>Please <a href="http://gromn.myshopify.com/pages/contact-us">contact us</a> if you are interested in custom pieces for your special occasions.</p>
  </div>
</div>

<div class="row custom-testimonials">
  <div class="col-xs-12">
    <h10>
      Testimonials
    </h10>
  </div>
</div>

<div class="row custom-testimonials">
  <div class="col-sm-6">
    <p>"Nulla in purus diam. Ut tortor dui, ultricies ut sagittis sed, porttitor suscipit ante. Vestibulum et tempus augue. Aliquam erat volutpat. In posuere placerat felis, sed sollicitudin sem ullamcorper eget. Nulla eros elit, posuere non ultricies quis, auctor eget odio. Suspendisse potenti. Maecenas elementum vulputate nisi egestas pretium. Aenean convallis ligula et congue eleifend. Sed pretium tempor tortor in fringilla."</p>
    <h4>– Danielle Smith</h4>
  </div>
  <div class="col-sm-6">
    <p>"Nulla in purus diam. Ut tortor dui, ultricies ut sagittis sed, porttitor suscipit ante. Vestibulum et tempus augue. Aliquam erat volutpat. In posuere placerat felis, sed sollicitudin sem ullamcorper eget. Nulla eros elit, posuere non ultricies quis, auctor eget odio. Suspendisse potenti. Maecenas elementum vulputate nisi egestas pretium. Aenean convallis ligula et congue eleifend. Sed pretium tempor tortor in fringilla."</p>
    <h4>– Danielle Smith</h4> 
  </div>
</div>

<hr class="divider">

<div class="row custom-testimonials">
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-1.jpg?16813" alt="custom" />
    <h1>Wedding Bands</h1>
    <h4>Sterling silver, pave diamond, gold vermeil</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-2.jpg?16814" alt="custom" />
    <h1>Wedding Bands</h1>
    <h4>Sterling silver, pave diamond, gold vermeil</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-3.jpg?16844" alt="custom" />
    <h1>Wedding Bands</h1>
    <h4>Sterling silver, pave diamond, gold vermeil</h4>
  </div>
  <div class="col-sm-6 pull-center">
    <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/custom-3.jpg?16844" alt="custom" />
    <h1>Wedding Bands</h1>
    <h4>Sterling silver, pave diamond, gold vermeil</h4>
  </div>
</div>

<hr class="divider">

<div class="custom">
  <p class="pull-center">Please call for pricing.</p>
</div>
