<div class="row">
<div class="col-sm-12">
  <img src="https://cdn.shopify.com/s/files/1/0271/2135/t/2/assets/friends.jpg?13962" />
</div>
<div class="row where_to_buy">
  <h7>Credits</h7>
</div>
<div class="row friends">
  <div class="col-md-3 col-xs-6 friends pull-center">
    <a href="http://www.tomhawkinsphotography.com/" target="_blank" title="Anne Sportun">
      <h1>Tom Hawkins</h1>
    </a>
    <a href="http://www.tomhawkinsphotography.com/" target="_blank" title="Anne Sportun">www.tomhawkinsphotography.com</a>
    <br />
    <p>
      Fashion Photography
    </p>
  </div>
  <div class="col-md-3 col-xs-6 friends pull-center">
    <a href="www.HairByJacob.com" target="_blank" title="Hair by Jacob">
      <h1>Jacob Rozenberg</h1>www.HairByJacob.com</a>
    <br />
    <p>
      Hair Styling
    </p>
  </div>
  <div class="col-md-3 col-xs-6 friends pull-center">
    <a href="www.artistrybyv.com/" target="_blank" title="Vanessa Parto">
      <h1>Vanessa Parto</h1>www.artistrybyv.com</a>
    <br />
    <p>
      Make-up
    </p>
  </div>
  <div class="col-md-3 col-xs-6 friends pull-center">
    <a href="http://www.alexa-wright.com/" target="_blank" title="Alexa Wright">
      <h1>Alexa Wright</h1>www.alexa-wright.com</a>
    <br />
    <p>
      Web Design & Development, Graphic Design
    </p>
  </div>
<!--   <div class="col-sm-4 friends pull-center">
    <a href="http://www.tomhawkinsphotography.com/" target="_blank" title="Anne Sportun">
      <h1>Tom Hawkins</h1>
    </a>
    <a href="http://www.tomhawkinsphotography.com/" target="_blank" title="Anne Sportun">www.tomhawkinsphotography.com</a>
    <br />
    <p>
      Godard fugiat vero farm-to-table Tonx pickled. Schlitz enim whatever, chia ennui aute letterpress authentic Pinterest aliquip. Blue Bottle ethnic Schlitz ennui farm-to-table. Proident Godard letterpress, shabby chic butcher reprehenderit esse.
    </p>
  </div> -->
</div>